#container {
    width:50%;
    border-radius:5px;
    padding 10px;
    background-color: pink;
    color: blue;
    margin:10% auto;
    text-align:center;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

#letters a{
    color:mediumpurple;
    background-color: darkgray;
    border-radius:5px;
    padding:5px;
    cursor:pointer;
    text-align:center;
}

#letters a:hover{
    color:palegreen;
}

#letters a .d{
    color:yellow;
    text-decoration:underline;
    float:left;

}

